body {
    background-color: lightgrey;
}

.login {
    margin: auto;
    border: 3px solid black;
    border-radius: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.login .header {
    padding: 20px 20px 20px 20px;
}

.login th {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.login td {
    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;
}

.login td:first-child {
    padding-left: 20px;
}

.login button {
    display: block;
    margin: auto;
}

