<!DOCTYPE html>

<html>
<head>
    <title>PIRKETA - Payment status</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <h1>Payment status</h1>
    {% if errors %}
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if success %}
        <p>Successfully paid for order</p>
        {% if return %}
            <p>Returned ${{ return }}</p>
        {% endif %}
    {% endif %}
</body>
</html>